/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

header {
  padding-bottom: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75)   ; /* 设置背景色 */
  z-index: 1000; /* 确保 header 在其他内容上方 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* 添加阴影效果 */
  transition: box-shadow 0.3s ease; /* 添加过渡效果 */
  font-size: inherit;
  font-weight: 500;
  padding: 0px;
}

.navbar ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none; 
  padding: 10px 0;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: rgba(82, 75, 79, 0.3);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  color: rgba(199, 91, 155, 0.3);
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  border: 2px solid #5cb874;
  transition: 0.3s;
  font-size: 14px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: rgba(199, 91, 155, 0.3);
  color: #fff;
}

.image-container {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%; /* 容器宽度100%，确保图片可以充满容器 */
  border: 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.overlay-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  color: white;
}

.navbar .dropdown ul {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.9); /* 设置背景颜色和透明度 */
  transition: 0.3s;
  border-radius: 8px; /* 添加圆角 */
}

.navbar .dropdown ul li {
  width: 50%;         /* 每个项目占据一半宽度，形成两列 */
  box-sizing: border-box; /* 包括padding和border在内的宽度计算 */
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  display: block;     /* 使链接填充整个li元素 */
  white-space: nowrap; /* 防止文字折行 */
}


.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown ul a i {
  font-size: inherit;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: rgba(49, 36, 99, 0.3);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/* navbar setting */

/* 当屏幕宽度大于1680像素时 */
@media screen and (min-width: 1681px) {
  .navbar a,
  .navbar a:focus {
      padding-left: 30px;
      padding-right: 30px;
  }
  .navbar ul {
    padding-left: 40px; /* Add .navbar before ul */
  }

  .overlay-text {
    padding: 0;
    font-size: 120px;
  }

  .navbar .dropdown ul a {
    font-size:medium
  }

  .navbar .dropdown ul {
    width: 375px; /* 容纳两列，根据需要调整宽度 */
  }
}

/* 根据不同屏幕尺寸设置不同的左右间距 */
@media screen and (max-width: 1680px) {
  .navbar a,
  .navbar a:focus {
      padding-left: 20px;
      padding-right: 20px;
  }
  .navbar ul {
    padding-left: 30px; /* Add .navbar before ul */
  }

  .overlay-text {
    padding: 0;
    font-size: 100px;
  }
  .navbar .dropdown ul a {
    font-size:medium
  }

  .navbar .dropdown ul {
    width: 325px; /* 容纳两列，根据需要调整宽度 */
  }
}

@media screen and (max-width: 1280px) {
  .navbar a,
  .navbar a:focus {
      padding-left: 15px;
      padding-right: 15px;
  }
  .navbar ul {
    padding-left: 20px; /* Add .navbar before ul */
  }

  .overlay-text {
    padding: 0;
    font-size: 70px;
  }

  .navbar .dropdown ul a {
    font-size:small
  }

  .navbar .dropdown ul {
    width: 275px; /* 容纳两列，根据需要调整宽度 */
  }
}

@media screen and (max-width: 736px) {
  .navbar a,
  .navbar a:focus {
      padding-left: 10px;
      padding-right: 10px;
  }
  .navbar ul {
    padding-left: 10px; /* Add .navbar before ul */
  }

  .overlay-text {
    padding: 0;
    font-size: 40px;
  }

  .navbar .dropdown ul a {
    font-size:x-small
  }

  .navbar .dropdown ul {
    width: 250px; /* 容纳两列，根据需要调整宽度 */
  }
}

@media screen and (max-width: 360px) {
  .navbar a,
  .navbar a:focus {
      padding-left: 5px;
      padding-right: 5px;
  }
  .navbar ul {
    padding-left: 5px; /* Add .navbar before ul */
  }

  .overlay-text {
    padding: 0;
    font-size: 30px;
  }

  .navbar .dropdown ul a {
    font-size:xx-small
  }

  .navbar .dropdown ul {
    width: 250px; /* 容纳两列，根据需要调整宽度 */
  }
}